html {
  background-image: url("https://wallpapershome.com/images/pages/pic_h/20035.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
