@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

/*body {
  position: absolute;
  top: 10px;
  left: 20px;
  bottom: 10px;
  right: 0;
  padding: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

/* div {
  height: 1000px;
} */

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 5px;
  -webkit-appearance: none;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #6d6d6d;
}
